<!doctype html>
<html>

<head>
	<title>Ticker Lookup App</title>
	
</head>


<link rel=stylesheet type=text/css href='/static/style.css')}}>

<body>
  <h1>Ticker Lookup App</h1>
  <div class='metanav'>
	
    <form id='index' method='post' action='get_data' >
      <p>
         Please provide a valid ticker symbol: <input type='text' name='ticker' placeholder="Example: AMZN" />
	  </p>

  	  <p>
	    Select chart type:<br />
		<label>
          <input id='Candlestick' type='radio' name='answer_from_layout' value='Candlestick' checked /> Candlestick <br />
		</label>
		<label>
          <input id='LinePlot'type='radio' name='answer_from_layout' value='Line plot' /> Line plot <br />
        	</label>
	  </p>
  
      <p>
    <input type='submit' value='Submit' />
      </p>

	
      	  <!--
	  <p>
	      <input type="button" onclick="location.href='https://github.com/mese433/flask_JM';" value="GitHub" />
	  </p>  
	  -->
	 </form>
  </div>

</body>
 
</html>

